.ihover {
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-weight: 500;
    transition: border 0.3s, border-radius 0s, box-shadow 0s;
}

.ihover:hover {
    border-radius: 24px;
    background-color: rgb(109, 206, 244);
    color: white;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

.border-radius-38 {
    border-radius: 38px;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #2196f3;
}

body {
    scroll-behavior: smooth;
}

.myclass {
    display: none;
}

.laptop-scr {
    display: block;
}

.menu-m {
    visibility: visible;
}

.card {
    min-width: calc(33% - 2rem);
}

.card-testimonial {
    min-width: calc(33%);
}

.cards {
    width: calc(33% - 16px);
}

.heading-class {
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    color: transparent;
    background-clip: text;
}

.heading-m {
    background: linear-gradient(to right, #ff0000, #0000ff);
    color: transparent;
    background-clip: text;
}

.big-screen {
    animation: scale 0.5s ease-in-out;
}

.animate {
    animation: scale 0.5s ease-in-out;
}

@keyframes scale {
    0% {
        scale: 0.8;
        width: 50%;
    }

    100% {
        scale: 1;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .root {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        transition: all 0.3s ease-in;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .root.active {
        visibility: visible;
    }

    .ihover {
        min-width: 35vh;
        text-align: center;
        background-color: rgb(0, 48, 66);
        margin: 4px 0;
        color: rgb(240, 229, 229);
    }

    .root {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        transition: all 0.3s ease-in;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .root.active {
        visibility: visible;
    }

    .myclass {
        display: block;
    }

    .menu {
        position: absolute;
        width: 50%;
        height: 100%;
        left: -100%;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
    }

    .menu.active {
        padding: 4px;
        left: 0px;
        transition: all 0.3s ease-in;
    }

    .head {
        padding: 16px;
    }

    .menu-m {
        margin-top: 16px;
        display: block;
    }

    .menu-m.active {
        display: none;
    }

    .card-testimonial {
        min-width: calc(50%);
    }

    .cards {
        width: calc(50% - 10px);
    }

    ::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
    }
}

/* Responsive For Mobile Screen */
@media screen and (max-width: 767px) {
    ::-webkit-scrollbar {
        background-color: transparent;
        width: 4px;
    }

    .root {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        transition: all 0.3s ease-in;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .root.active {
        visibility: visible;
    }

    .ihover {
        display: flex;
        justify-content: center;
        min-width: 35vh;

        text-align: center;
        background-color: rgb(0, 48, 66);
        margin: 4px 0;
        color: rgb(240, 229, 229);
    }

    .root {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        transition: all 0.3s ease-in;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .root.active {
        visibility: visible;
    }

    .myclass {
        display: block;
    }

    .menu {
        position: absolute;
        width: 100%;
        height: 100%;
        left: -100%;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
    }

    .menu.active {
        padding: 4px;
        left: 0px;
        transition: all 0.3s ease-in;
    }

    .head {
        padding: 16px;
    }

    .menu-m {
        margin-top: 16px;
        display: block;
    }

    .menu-m.active {
        display: none;
    }

    .mobile-card {
        overflow-x: scroll;
        padding: 4px;
        margin: 0 0 4px 4px;
    }

    .card {
        scroll-snap-align: center;
        min-width: calc(100% - 8px);
        margin: 4px;
    }

    .cards {
        width: calc(99%);
    }
}
