.ihover {
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-weight: 500;
    border-radius: 24px;
    transition: border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.ihover:hover {
    background-color: rgb(109, 206, 244);
    color: white;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

.border-radius-38 {
    border-radius: 38px;
}